PORT=5000
HOST=0.0.0.0
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/securewatch_iot
CLIENT_URL=http://localhost:5173
JWT_SECRET=super_secret_jwt_key_at_least_32_characters_long_for_security_hs256
JWT_EXPIRY=15m
REFRESH_TOKEN_EXPIRY_DAYS=7
